:root {
  --blue-1: rgb(0, 140, 255);
  --white-1: rgb(255, 250, 231);
  --gray-1: rgb(219, 227, 228);
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  height: 24px;
  width: 24px;
  filter: invert();
}

body {
  background-color: rgb(255, 127, 127);
}

.page-content {
  /* background-color: blueviolet; */
  /* padding: 8px; */
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr;
}

.sidebar-container {
  background-color: var(--blue-1);
  grid-row: 1 / 3;
  display: grid;
  grid-template-rows: repeat(3, auto) 1fr;
}

.sidebar-section {
  font-size: 20px;
  font-weight: 800;
  padding: 24px 0px;
  color: var(--white-1);
  display: grid;
  gap: 16px 0;
  grid-template-columns: 1fr 3fr;
  align-items: center;
}

.sidebar-section>img {
  justify-self: center;
}

.sidebar-section.sidebar-top>img {
  height: 50px;
  width: 50px;
}

.main-content-container {
  /* background-color: rgb(255, 136, 0); */
  /* padding: 8px; */
  display: grid;
  grid-template-rows: auto 1fr;
}

.header-container {
  background-color: var(--white-1);
}

.user-content-container {
  background-color: var(--gray-1);
}