:root {
  --blue-1: rgb(0, 110, 255);
  --white-1: rgb(255, 253, 244);
  --gray-1: rgb(219, 227, 228);
  --gray-2: rgb(119, 127, 129);
  --shadow: rgb(152, 152, 152);
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  height: 24px;
  width: 24px;
}

body {
  background-color: rgb(255, 127, 127);
}

.page-content {
  /* background-color: blueviolet; */
  /* padding: 8px; */
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr;
}

.sidebar-container {
  background-color: var(--blue-1);
  grid-row: 1 / 3;
  display: grid;
  grid-template-rows: repeat(3, auto) 1fr;
  filter: drop-shadow(2px 0px 3px var(--shadow));
}

.sidebar-section {
  font-size: 20px;
  font-weight: 800;
  padding: 24px 0px;
  color: var(--white-1);
  display: grid;
  gap: 16px 0;
  grid-template-columns: 1fr 3fr;
  align-items: center;
}

.sidebar-section>img {
  filter: invert();
  justify-self: center;
}

.sidebar-section.sidebar-top>img {
  height: 50px;
  width: 50px;
}

/* Left half of screen on desktop */
.main-content-container {
  /* background-color: rgb(255, 136, 0); */
  /* padding: 8px; */
  display: grid;
  grid-template-rows: auto 1fr;
}

.header-container {
  background-color: var(--white-1);
  min-height: 15vh;
  padding: 16px 40px;
  display: grid;
  grid-template-rows: auto auto;
  filter: drop-shadow(4px 2px 2px var(--shadow));
}

.header-section {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 0 100px;
}

.header-section>div {
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  justify-content: start;
  gap: 0 24px;
}

.header-section>div.search-bar-container {
  grid-template-columns: auto 1fr;
  gap: 8px;
}

.header-section>div.search-bar-container>input {
  background-color: var(--gray-1);
  border: none;
  padding: 8px;
  font-size: 1rem;
  border-radius: 16px;
}

.header-section>div.header-profile-container {
  justify-content: end;
  font-weight: 800;
}

.header-section>div.header-profile-container>img#header-profile-container-img {
  height: 40px;
  width: 40px;
}

.header-section>div.header-greeting-container>img {
  height: 48px;
  width: 48px;
}

.header-section>div>div.greeting-text-container {
  display: grid;
  grid-template-rows: auto 1fr;
  font-weight: 800;
  font-size: 1.8rem;
}

.header-section>div>div.greeting-text-container>span#hi-there {
  font-size: .8rem;
  align-self: end;
}

.header-buttons-container>button {
  min-height: 40px; 
  min-width: 112px;
  font-size: 1.1rem;
  font-weight: 800;
  border: none;
  border-radius: 24px;
  color: var(--white-1);
  background-color: var(--blue-1);
}

/* section with projects, announcements, and trending */
.user-content-container {
  background-color: var(--gray-1);
  padding: 40px;
  display: grid;
  gap: 32px;
  grid-template-columns: 2.2fr 1fr;
}

.user-content-container>div.projects-container {
  display: grid;
  gap: 16px;
  align-content: start;
}

.user-content-container>div.user-activity-container {
  display: grid;
  grid-template-rows: 1fr auto;
}

.user-content-container>div.user-activity-container>div {
  display: grid;
  gap: 16px;
  align-content: start;
}

.user-content-container>div>div.projects-cards-container {
  align-self: start;
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

/* for user-content area headers */
.user-content-container>div>span,
.user-content-container>div>div>span {
  font-size: 1.3rem;
  font-weight: 800;
}

.user-content-container>div>div.projects-cards-container>div.project-card {
  background-color: var(--white-1);
  padding: 24px;
  min-height: 168px;
  border-radius: 8px;
  display: grid;
  grid-template-rows: auto repeat(2, 1fr);
  font-size: .9rem;
  color: var(--gray-2);
  border-left: 8px solid rgb(255, 183, 0);
  filter: drop-shadow(1px 4px 3px var(--shadow));
}

.user-content-container>div>div.projects-cards-container>div.project-card>span:nth-child(1) {
  font-weight: 800;
  font-size: 1.1rem;
  color: black;
}

.user-content-container>div>div>div.project-card>div.project-card-buttons {
  justify-self: end;
  align-self: end;
  display: grid;
  grid-auto-flow: column;
  gap: 16px;
}



.user-content-container>div.user-activity-container>div>div {
  /* already a grid from above */
  background-color: var(--white-1);
  border-radius: 8px;
  padding: 24px;
  display: grid;
  gap: 16px;
  filter: drop-shadow(2px 4px 2px var(--shadow));
}

.user-content-container>div>div>div>.announcement.item {
  display: grid;
  grid-template-rows: auto 1fr;
  padding-bottom: 16px;
  border-bottom: 2px solid var(--gray-1);
  gap: 8px;
  font-size: .8rem;
  color: var(--gray-2);
}

.user-content-container>div>div>div>.announcement.item:last-child {
  border-bottom: none;
  padding-bottom: 0px;
}

.user-content-container>div>div>div>.announcement.item>span.announcement-header {
  font-weight: 700;
  font-size: 1rem;
  color: black;
}

.user-content-container>div>div.trending-container {
  align-self: end;
}

.user-content-container>div>div>div>.trending.item {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 8px;
}

.user-content-container>div>div>div>.trending.item>div {
  display: grid;
  color: var(--gray-2);
}

.user-content-container>div>div>div>.trending.item>div>span.trending-user-handle {
  font-weight: 700;
  color: black;
}

.user-content-container>div>div>div>.trending.item>img {
  height: 40px;
  width: 40px;
}